/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body, header, nav, h1, a, ul, li, strong, main, section, img,
 div, h2, h3, p, h4, h5, h6, form, fieldset, label, input,
 textarea, button, article, footer, small {
     margin: 0;
     padding: 0;
     border: 0;
     outline: 0;
     font: inherit;
     box-sizing: inherit;
     text-align: inherit;
     text-decoration: inherit;
     vertical-align: inherit;
     color: inherit;
     background: transparent;
     font-family: 'Lato', sans-serif;
 }

/* ---------- Navbar ---------- */
header {
 background-color: #5bc5a7;
 color: white;
 box-shadow: 0 1px 0 #ccc;
 width: 100%;
}

.main-nav {
  margin: 10px;
  margin: auto;
  width: 52%;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-family: 'Cormorant Garamond', serif;
  color: #eee;
  letter-spacing: 10px;
  font-size: 22px;
  margin-top: 13px;
}

.main-nav button{
  text-shadow: 0 -1px 0 #318970;
  margin: 12px;
  font-size: 14px;
  border-radius: 3px;
  box-shadow: 1px 1px #318970;
  padding: 5px 10px;
}

#login-button {
  border: 1px solid #4ab4b6;
}

#login-button:hover {
  background-color: #4ca58c;
  border: 1px solid #4ca58c;
}

.main-nav p { display: inline; }

#signup-button {
  background-color: #ff652f;
}

#signup-button:hover {
  background-color: #c83400;
}

#logout-button {
  border: 1px solid #4ab4b6;
}

#logout-button:hover {
  background-color: #4ca58c;
  border: 1px solid #4ca58c;
}

.login-form {
  visibility: hidden;
  position: absolute;
  z-index: 10;
  border: 1px solid #ccc;
  background-color: #eee;
  padding: 10px;
  color: #222;
  font-size: 14px;
  border-radius: 5px;
}

.login-form input {
  width: 230px;
  margin-bottom: 8px;
  padding: 4px;
  display: block;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.login-form input:focus {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}

#login-submit {
  background-color: #5bc5a7;
  text-align: center;
  color: white;
  text-shadow: 0 -1px 0 #318970;
  border: 1px solid #4ab4b6;
}

#login-submit:hover {
  background-color: #4ca58c;
  border: 1px solid #4ca58c;
}

#guest-login-submit {
  background-color: #ff652f;
  text-align: center;
  color: white;
  text-shadow: 0 -1px 0 #318970;
  border: 1px solid #c83400;
}

#guest-login-submit:hover {
  background-color: #c83400;
}

.show {
  visibility: visible;
}




/* ---------- Sign Up ----------*/
.signup-form {
  width: 34%;
  margin: 0 auto;
  margin-top: 10%;
}

.signup-form > h2 {
  text-align: center;
  font-size: 1.7em;
}

.signup-form input {
  width: 100%;
  margin: 10px;
  padding: 10px;
  border: 1px solid #bbb;
  border-radius: 5px;
  transition: all .2s ease-in;
}

#signup-form-username:focus {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}

#signup-form-password:focus {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}

#signup-form-submit {
  background-color: #ff652f;
  color: white;
  text-align: center;
  font-size: 24px;
  border-radius: 8px;
  border: 1px solid #c83400;
  box-shadow: 1px 1px #c83400;
  transition: all .1s ease-in;
}

#signup-form-submit:hover {
  background-color: #c83400;
}

#signup-errors {
  margin-top: 5px;
  list-style: none;
  text-align: center;
}

/* ---------- Splash Page ---------- */
.splash-section {
  text-align: center;
  margin-top: 30px;
}

.tagline {
  font-size: 70px;
  font-weight: bold;
  color: #444;
}

.app-description {
  color: #444;
  font-size: 24px;
}

.b {
  font-weight: bold;
  color: black;
}

.splash-section > button {
  background-color: #ff652f;
  font-size: 26px;
  padding: 16px 30px;
  margin: 10px;
  border-radius: 5px;
  color: white;
  box-shadow: 2px 2px 2px 2px #c83400;
  transition: all .05s ease-in;
}

.splash-section > button:hover {
  background-color: #c83400;
}

/* Dashboard */
#dashboard {
  height: 900px;
  width: 52%;
  box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 0.2), -12px 0 8px -4px rgba(0, 0, 0, 0.2);
  margin: auto;
  border-left: 1px solid #666;
  border-right: 1px solid #666;
  border-top: 1px solid #666;
}


/* ---------- Footer ---------- */
footer {
  width: 97.9%;
  background-color: #666;
  color: white;
  padding: 20px;
  position: absolute;
  bottom: 0;
  border-top: 2px solid #aaa;
}
