/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

 html, body, header, nav, h1, a, ul, li, strong, main, section, img,
 div, h2, h3, p, h4, h5, h6, form, fieldset, label, input,
 textarea, button, article, footer, small {
     margin: 0;
     padding: 0;
     border: 0;
     outline: 0;
     font: inherit;
     box-sizing: inherit;
     text-align: inherit;
     text-decoration: inherit;
     vertical-align: inherit;
     color: inherit;
     background: transparent;
     font-family: 'Lato', sans-serif;
 }

 /* ----------------------------------------------------------------- */
 /* ---------- Navbar ----------------------------------------------- */
 /* ----------------------------------------------------------------- */
header {
  background-color: #5bc5a7;
  color: white;
  box-shadow: 0 1px 0 #ccc;
  width: 100%;
  top: 0;
}

.main-nav {
  margin: 10px;
  margin: auto;
  width: 1000px;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-family: 'Cormorant Garamond', serif;
  color: #eee;
  letter-spacing: 10px;
  font-size: 22px;
  margin-top: 13px;
}

.main-nav button{
  text-shadow: 0 -1px 0 #318970;
  margin: 12px;
  font-size: 14px;
  border-radius: 3px;
  box-shadow: 1px 1px #318970;
  padding: 5px 10px;
}

#login-button {
  border: 1px solid #4ab4b6;
}

#login-button:hover {
  background-color: #4ca58c;
  border: 1px solid #4ca58c;
}

.main-nav p { display: inline; }

#signup-button {
  background-color: #ff652f;
}

#signup-button:hover {
  background-color: #c83400;
}

#logout-button {
  background-color: #ff652f;
  box-shadow: 1px 1px #c83400;
}

#logout-button:hover {
  background-color: #c83400;
}

.login-form {
  visibility: hidden;
  position: absolute;
  z-index: 10;
  border: 1px solid #ccc;
  background-color: #eee;
  padding: 10px;
  color: #222;
  font-size: 14px;
  border-radius: 0px 0px 8px 8px;
}

.login-form input {
  width: 230px;
  margin-bottom: 8px;
  padding: 4px;
  display: block;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.login-form input:focus {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}

#login-submit {
  background-color: #5bc5a7;
  text-align: center;
  color: white;
  text-shadow: 0 -1px 0 #318970;
  border: 1px solid #4ab4b6;
}

#login-submit:hover {
  background-color: #4ca58c;
  border: 1px solid #4ca58c;
}

#guest-login-submit {
  background-color: #ff652f;
  text-align: center;
  color: white;
  text-shadow: 0 -1px 0 #318970;
  border: 1px solid #c83400;
}

#guest-login-submit:hover {
  background-color: #c83400;
}

.show {
  visibility: visible;
}

/* ----------------------------------------------------------------- */
/* ---------- Sign Up ---------------------------------------------- */
/* ----------------------------------------------------------------- */
.signup-form {
  width: 34%;
  margin: 0 auto;
  margin-top: 10%;
}

.signup-form > h2 {
  text-align: center;
  font-size: 1.7em;
}

.signup-form input {
  width: 100%;
  margin: 10px;
  padding: 10px;
  border: 1px solid #bbb;
  border-radius: 5px;
  transition: all .2s ease-in;
}

#signup-form-username:focus {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}

#signup-form-password:focus {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}

#signup-form-submit {
  background-color: #ff652f;
  color: white;
  text-align: center;
  font-size: 24px;
  border-radius: 8px;
  border: 1px solid #c83400;
  box-shadow: 1px 1px #c83400;
  transition: all .1s ease-in;
}

#signup-form-submit:hover {
  background-color: #c83400;
}

#signup-errors {
  margin-top: 5px;
  list-style: none;
  text-align: center;
}

/* ----------------------------------------------------------------- */
/* ---------- Splash ----------------------------------------------- */
/* ----------------------------------------------------------------- */
.splash-section {
  text-align: center;
  margin-top: 200px;
}

.tagline {
  font-size: 70px;
  font-weight: bold;
  color: #444;
}

.app-description {
  color: #444;
  font-size: 24px;
}

.b {
  font-weight: bold;
  color: black;
}

.splash-section > button {
  background-color: #ff652f;
  font-size: 26px;
  padding: 16px 30px;
  margin: 10px;
  border-radius: 5px;
  color: white;
  box-shadow: 2px 2px 2px 2px #c83400;
  transition: all .05s ease-in;
}

.splash-section > button:hover {
  background-color: #c83400;
}

/* ----------------------------------------------------------------- */
/* ---------- Dashboard -------------------------------------------- */
/* ----------------------------------------------------------------- */
#dashboard {
  width: 800px;
  margin: auto;
  display: flex;
}

/* ----------------------------------------------------------------- */
/* ---------- Friends ---------------------------------------------- */
/* ----------------------------------------------------------------- */

#friends-sidebar {
  margin-top: 15px;
  width: 170px;
}

#dashboard-title {
  font-size: 18px;
  border-left: 5px solid #5bc5a7;
  padding-left: 5px;
  color: #5bc5a7;
}

.fa {
  font-family: 'Ariel' , sans-serif;
}

#friends-section {
  margin-top: 15px;
}

.friends-title {
  font-size: 14px;
  background-color: #f6f6f6;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  color: #bbb;
  padding: 2px;
}

.friends-list {
  list-style: none;
}

.friends-list p {
  display: inline;
}

.friends-list button {
  float: right;
  padding: 0px 3px;
}

.frand > li:hover {
  background-color: #f4f4f4;
}

#accept-friend {
  transition: all .08s ease-in;
}

#accept-friend:hover {
  color: white;
  background-color: #59ba6c;
  border-radius: 5px;
}

#deny-friend {
  transition: all .08s ease-in;
}

#deny-friend:hover {
  color: white;
  background-color: #e03333;
  border-radius: 5px;
}

.friends-list > li {
  width: 150px;
  padding: 3px;
  margin: 7px;
  color: #999;
}


#user-search {
  margin-top: 5px;
  border: 1px solid #e5e5e5;
}

#find-friends {
  font-size: 14px;
  padding: 3px;
  text-shadow: 0 -1px 0 #318970;
  background-color: #5bc5a7;
  color: white;
}

#user-search-input {
  padding: 3px;
  font-size: 16px;
  border-bottom: 1px solid #e5e5e5;
  width: 96.7%;
  height: 75%;
}

#user-search-input:focus {
  outline: none;
  border-color: #ff874f;
  box-shadow: 0 0 10px #ff874f;
}

#filtered-users-list {
  margin-top: -1px;
  list-style: none;
  font-size: 14px;
}

#filtered-users-list > li {
  padding: 5px;
  transition: all .07s ease-in;
}

#filtered-users-list > li:hover {
  background-color: #ff652f;
  color: white;
}

.searched-user p {
  display: inline;
}

.fa-plus {
  color: white;
}

.delete-modal {
  margin: auto;
  margin-top: 100px;
  position: relative;
  height: 100px;
  width: 310px;
  background-color: white;
  border: 1px solid #bbb;
  border-radius: 5px;

  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;

}

.delete-modal > header {
  font-size: 24px;
  text-align: center;
  padding: 5px;
  width: 300px;
}

.delete-choices {
  display: flex;
  justify-content: space-around;
}

.delete-choices > button {
  padding: 5px 10px;
  border: 1px solid #999;
  margin-top: 15px;
  font-size: 20px;
  color: white;
  border-radius: 3px;
  box-shadow: 2px 2px black;
}

#x{
  background-color: #5bc5a7;
}

#y{
  background-color: #ff652f;
}

#x:hover{
  background-color: #4ca58c;
}

#y:hover{
  background-color: #c83400;
}

/* ----------------------------------------------------------------- */
/* ---------- Expenses --------------------------------------------- */
/* ----------------------------------------------------------------- */
.expenses-main {
  width: 500px;
  margin: 0px 30px;
  height: 100%;
  box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 0.1), -12px 0 8px -4px rgba(0, 0, 0, 0.1);
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.expenses-nav {
  background-color: #eee;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.settle-up{
  text-shadow: 0 -1px 0 #318970;
  border: 1px solid #4ca58c;
  box-shadow: 1px 1px #4ca58c;
  color: white;
  margin-right: 18px;
  padding: 4px 10px;
  border-radius: 3px;
  background-color: #5bc5a7;
}

.settle-up:hover {
  background-color: #4ca58c;
}

.expenses-feed {
  font-size: 22px;
  padding: 5px;
}

.add-bill {
  background-color: #ff652f;
  box-shadow: 1px 1px #c83400;
  padding: 5px 10px;
  color: white;
  border-radius: 3px;
}

.add-bill:hover {
  background-color: #c83400;
}

.expense-index-item {
  padding: 10px;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
}

.expense-index-item:hover {
  background-color: #fafafa;
  cursor: pointer;
}

.expenses-list {
  list-style: none;
}

.expense-date {
  width: 30px;
  text-align: center;
  color: #999;
}

.expense-date-month {
  font-size: 12px;
}

.expense-info {
  display: flex;
}

.expense-description {
  margin-top: 6px;
  margin-left: 10px;
  font-weight: bold;
  width: 210px;
  height: 20px;
}

.expense-payments {
  display: flex;
  justify-content: space-between;
  width: 145px;
}

.paid {
  text-align: center;
  float: left;
}

.lender {
  font-size: 12px;
  color: #999;
}

.total {
  font-size: 15px;
  font-weight: bold;
}

.due {
  text-align: center;
}

.ower {
  font-size: 12px;
  color: #999;
}

.amount {
  font-size: 15px;
  font-weight: bold;
}

.delete-expense {
  color: red;
  border-radius: 5px;
  cursor: pointer;
}

/* ----------------------------------------------------------------- */
/* ---------- Add Expense Modal ------------------------------------ */
/* ----------------------------------------------------------------- */
.add-expense-modal {
  position: relative;
  background-color: white;
  width: 400px;
  height: 220px;
  border: 1px solid #bbb;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 100px;

  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}

.modal-header {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 380px;
  text-shadow: 0 -1px 0 #318970;
}

.modal-header > button:hover {
  cursor: pointer;
}

.add-expense-form {
  margin: 0 auto;
  padding: 10px;
}

#between {
  width: 100%;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}

#add-bill-form-desc {
  border-bottom: 1px solid #ddd;
  font-size: 16px;
  padding: 5px;
  width: 100%;
  margin: 10px 0px 10px 0px;
  font-size: 14px;
}

#text-inputs {
  display: inline;
  width: 100%;
  margin-left: 40px;
  border-bottom: 1px solid #ddd;
  padding: 5px;
}

#text-inputs > input {
  width: 52px;
  padding: 5px;
}

#form-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

#form-buttons > button {
  padding: 5px 12px;
  margin: 10px;
  border-radius: 5px;
}

#add-expense-cancel {
  border: 1px solid #bbb;
  color: #444;
  padding: 5px 12px;
  margin: 10px;
  border-radius: 5px;
}

#add-expense-cancel:hover {
  background-color: #ddd;
}

#add-expense-submit {
  text-shadow: 0 -1px 0 #318970;
  background-color: #5bc5a7;
  border: 1px solid #4ca58c;
  color: white;
}

#add-expense-submit:hover {
  background-color: #4ca58c;
  border: 1px solid #4ca58c;
}


/* ----------------------------------------------------------------- */
/* ---------- Footer ----------------------------------------------- */
/* ----------------------------------------------------------------- */
footer {
  width: 97.9%;
  background-color: #666;
  color: white;
  padding: 20px;
  position: fixed;
  bottom: 0;
  border-top: 2px solid #aaa;
}
